@import "null";

:root {
  --color-00: #ffffff;
  --color-01: #111111;
  --color-02: #222222;
  --color-03: #C79DF6;
  --color-04: #F2D9B7;
  --color-05: #DAFFA9;
  --font-main: 'Jost', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}